{
  "extends": ["standard", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "plugins": ["react"],
  "rules": {
    "comma-dangle"                      : [2, "never"],
    "key-spacing"                       : 0,
    "max-len"                           : [2, 120, 2],
    "no-tabs"                           : 2,
    "no-throw-literal"                  : 0,
    "no-trailing-spaces"                : 2,
    "no-unused-vars"                    : [2, { "args": "after-used", "ignoreRestSiblings": true }],
    "object-curly-spacing"              : [2, "always"],
    "semi"                              : [2, "never"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
